<div id="sidebar">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <img class="logo" src="images/logo.svg" alt="DevExpress logo" />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div onclick="document.getElementById('sidebar').classList.remove('expanded')">
                        <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                            <Items>
                                <DxMenuItem NavigateUrl="/" Text="Home" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                                <DxMenuItem NavigateUrl="/counter" Text="Counter" CssClass="menu-item" IconCssClass="icon counter-icon"></DxMenuItem>
                                <DxMenuItem NavigateUrl="/weather" Text="Weather" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>
                            </Items>
                        </DxMenu>
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="footer" CssClass="footer">
                <Template>
                  <NavLink href="https://docs.devexpress.com/Blazor/400725/blazor-components" class="button-link">
                    <DxButton Text="Docs" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="footer-button" RenderStyle="@ButtonRenderStyle.Light" IconCssClass="icon docs-icon"></DxButton>
                  </NavLink>
                  <NavLink href="https://demos.devexpress.com/blazor/" class="button-link">
                    <DxButton Text="Demos" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="footer-button" RenderStyle="@ButtonRenderStyle.Light" IconCssClass="icon demos-icon"></DxButton>
                  </NavLink>
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>